/*
  * Name: Brad Bosak
  * Date: August 29, 2018
  * Problem 3: CSS for webpage
*/

body {background-color: yellow; font-family: Arial, Helvetica, Verdana, and sans-serif; font-size: 12px}

h1 {font-size: 2em; color: blue}

a {background-color: black; color: white; text-decoration: none}